body{font-size: 18px; font-family: 'Poppins', sans-serif;}

/*Header*/
#header{background-color:#8e10b9; padding: 8px 0px; -webkit-box-shadow: 0px 13px 37px -15px rgba(0,0,0,0.75); -moz-box-shadow: 0px 13px 37px -15px rgba(0,0,0,0.75); box-shadow: 0px 13px 37px -15px rgba(0,0,0,0.75);}
#header img{margin-left: 20px;}

/*Full Banner Top*/
.fullBanner-top{background-image: url(../img/bannerfull_top.jpg); min-height: 911px; background-repeat: no-repeat; background-size: cover; background-position: top;}
.fullBanner-top h1, h2{color: #FFF; text-align: center; margin-top: 20px; font-size: 50px; text-shadow: 2px 4px 5px #000000;}
.fullBanner-top h2{margin-top: -10px; font-size: 42px;}
a.btn-credito{display: block; width: 203px; margin: 65px auto;}
.fullLine{background-color:#8e10b9; padding: 15px 0px 5px 0px; opacity: 0.6;}
.fullLine p{opacity: 1; color: #FFF; font-size: 35px; text-align: center; text-shadow: 2px 4px 5px #000000;}
.boxes-group{margin-top: 70px}
.boxes-group .bg-cyan{background-color: #40d3b9; padding: 25px 25px;}
.boxes-group .bg-cyan span.line{height: 1px; width: 100%; background-color: #110a4e; display: block;}
.boxes-group .bg-cyan h3{font-size: 1.2em; font-weight: 600; color: #0a2958; margin-top:15px;}
.boxes-group .bg-cyan h3 span{letter-spacing: 6px;}
.boxes-group .bg-cyan.white h3{color: #fff; margin-top: 0; margin-bottom: 0;}
.boxes-group .bg-cyan.white h3 span{font-size: 1.6em; letter-spacing: 0; font-weight: 600;}
.boxes-group .bg-cyan.white p.top{margin-top:25px; margin-bottom: 0;}
.boxes-group .bg-cyan.white p.bottom{margin-bottom: 25px;}
.boxes-group .bg-cyan p{letter-spacing: 5px; text-align: center;}
.boxes-group .bg-cyan.parcela h3{letter-spacing: normal; margin-top: 5px; margin-bottom: 0; font-size: 1.6em;}
.boxes-group .bg-cyan.parcela h3.span{color: #FFF; letter-spacing: normal; margin-top:0;}
.boxes-group .bg-cyan.parcela p.top{font-size: 1.3em; margin-top: 8px; margin-bottom: 0;}
.boxes-group .bg-cyan.parcela p.bottom{font-size: 1.3em; margin-top:-8px; margin-bottom: 2px;}
a.btn-simulacao{display: block; margin: 50px auto; width: 372px;}
a.btn-credito-2{margin: 20px auto;}

/*About*/
#about{background-color: #64089b; padding: 30px 20px 50px 20px;}
#about .bg-pink{background-color: #9325c2; padding: 30px; border-radius: 25px;}
#about .bg-pink p{color: #FFF; text-shadow: 2px 2px 5px #000000;}

/*About Chart*/
#about-chart{background-image: url(../img/bg_chart.png); background-repeat: no-repeat; background-position: bottom right; height: 603px; margin-top: 50px; margin-bottom: 50px;}
#about-chart h3{color: #8015a1; font-size: 2em;}
#about-chart .wrapper{width: 500px; padding-top: 30px;}

/*Full Banner*/
#full-banner-center{background-image: url(../img/bannerfull_center.jpg); height: 540px; background-repeat: no-repeat; background-size: cover; background-position: top;}
#full-banner-center .col{background-color: #40d3b9; width: 300px;}

/*Testimonials*/
#testimonials{background-color: #64089b;}
#testimonials .container{padding: 50px 0;}
#testimonials h3{text-align: center; text-transform: uppercase; margin-bottom: 20px; color:#e6bcfb; text-shadow: 2px 4px 5px #000000; font-size: 2em}
#testimonials .box{border: 3px solid #fff; background-color: #A707BE; margin: 20px; padding: 30px 10px 0; text-align: center; color: #4e1b66; height: 600px;}
#testimonials .box h3{margin-top:20px}
#testimonials .box p{padding: 20px; border-radius: 20px; background-color: #a743c9; text-align: left; margin-top: 23px;}
#testimonials .know-more{margin-top: 40px;}

/*Clients*/
#clients{background-color:#fff; padding: 20px 0;}

/*Footer*/
#footer{background-color:#2C292A; color: #fffdfe; padding: 30px 0;}
#footer .infos{margin-top: 50px;}
#footer .end-infos{margin-bottom: 20px;}
#footer .links{margin-top:30px}
#footer .consultor{margin-top:25px;}
#footer .consultor img{border: 1px solid #5436a6; border-radius: 20px;}
#footer .map{margin-top:20px;}
#footer hr{margin-top:40px;}
#footer p{font-weight: 300; font-size: 0.8em;}