/*Full Banner Home*/

/*Header*/
#header{background-color:#8e10b9;}

/*About*/
#about{background-color: #64089b;}

/*About Graphic*/
#about-graphic{background-color: #fff;}

/*Full Banner*/

/*Testimonials*/
#testimonials{background-color: #64089b;}

/*Clients*/
#clients{background-color:#fff;}

/*Footer*/
footer{background-color:#2f2d2e; color: #fffdfe;}